body {
	background-color: whitesmoke;
	font-family: Courier, monospace;
	/* background-image: linear-gradient(90deg, black, green, black); */
}

.main_top_bar {
	margin: 12px;
	position: fixed;
	background-color: cadetblue;
	width: 97%;
	border: solid 3px navy;

	display: flex;
}

.div_box_parent {
	display: flex;
	justify-content: center;
}

.div_box_child {
	margin: 12px;
	justify-content: centre;
	background-color: gainsboro;
	width: 50%;
	border: solid 3px navy;
}

.break {
	height: 150px;
	width: 100%;
}

.link {
	font-family: monospace;
	margin: 5px;
	color: lime;
}

.logo {
    width: 100px;
  }