body {
	font-family: Courier, monospace;

	background: rgb(3, 3, 77);
	background: linear-gradient(to right, rgb(3, 3, 77) 0%, rgb(3, 3, 77) 0%, black 100%);
}

.main_top_bar {
	margin: 12px;
	position: fixed;
	background-image: linear-gradient(45deg, green, blue, navy);
	width: 97%;
	border: solid 3px navy;

	display: flex;
}

.div_box_parent {
	border: solid 3px lime;
	margin: 5px;
	display: grid;
  	grid-template-columns: 60% 40%;
}

.div_box_child {
	border: solid 3px lime;
	margin: 5px;
	padding: 5px;
}

.break {
	height: 45px;
	width: 100%;
}

.link {
	font-family: monospace;
	font-size: 20px;
	margin: 25px;
	color: lime;
}

.link_2 {
	font-family: monospace;
	font-size: 17px;
	margin: 25px;
	color: lime;
}